# Required for Vercel deployment
DATABASE_URL="file:./prisma/dev.db"
NEXTAUTH_URL="https://your-app-name.vercel.app"
NEXTAUTH_SECRET="aurnik-production-secret-2024"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
